body{
    background: #02010a;
    font-family: Dancing Script;
    font-size: 24px;
    color: white;
}

.contenido{
    align-content: center;
    margin: auto;
}

/* Estilos para el header (título y menú) */
.contenido .header{
    background: #5b7989;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    transition: margin-top 1s;
    animation: slidein 2s;
}

@keyframes slidein{
    0%{
        margin-top: 150%;
    }
    60%{
        margin-top: -5%;
    }
    100%{
        margin-top: 0%;
    }
}

.contenido .header .titulo{
    color: white;
    text-shadow: 2px 2px #02010a;
    padding-left: 20px;
    width: 50%;
    order: 1;
}

div.contenido div.header nav.menu{
    width: 50%;
    order: 2;
    padding-right: 20px;
    text-align: right;
}

.contenido .header nav.menu a.nav{
    color: white;
    text-align: right;
}

.contenido .header nav.menu a.active{
    color: white;
    text-decoration: none;
}

nav.menu a.nav:hover{
    color: blue;
    text-decoration: none;
}



/* Sección de Imágenes (index.html) */
.contenido .container .seccionUno{
    background: #82c3a6;
    align-content: center;
    padding: 20px;
}

img.img1{
    width: 50%;
    margin: auto;
    display: block;
    box-shadow: 2px 2px #02010a;
}

.contenido .container .seccionDos{
    background: #d5c75f;
    border: 1px;
    align-content: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: auto;
}

div.column1{
    width: 50%;
    align-content: center;
}

div.column2{
    width: 50%;
    align-content: center;
}

img.img2, img.img3{
    width: 60%;
    margin: auto;
    display: block;
    box-shadow: 2px 2px #02010a;
}

img.img2{
    transform: rotate(0deg);
    transition: transform 0.5s ease-in;
}

img.img2:hover{
    transform: rotate(10deg);
    box-shadow: 2px 2px #82c3a6;
}

img.img3{
    transform: translate(0px, 0px);
    transition: transform 0.5s ease-in;
}

img.img3:hover{
    transform: translate(20px,-5px);
    box-shadow: 2px 2px #82c3a6;
}

.column1 a, .column2 a{
    align-content: center;
    color: black;
}

div a.link{
    margin: 20px;
    display: block;
    text-align: center;
}


/* Sección del Footer */
.footer{
    background: #C6d5c5;
    color: black;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
    height: auto;
    vertical-align: middle;    
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}

.footer div h3{
    margin-bottom: 0px;
}

.footer .contacto{
    width: 25%;
}

.footer .termino{
    width: 25%;
}

.footer .rrss{
    width: 25%;
}

.footer .derechos{
    width: 25%;
}







/* Declaración de mediaqueries */
@media screen and (min-width: 900px){
    .contenido{
        width: 85%;
    }
}

@media screen and (max-width: 900px){
    .contenido{
        width: 100%;
    }

    .contenido .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
    }

    .contenido .header .titulo{
        order: 1;
        margin: 0px;
    }
    
    div.contenido div.header nav.menu{
        order: 2;
        margin: 0px;
        text-align: center;
    }

    .contenido .container .seccionDos{
        display: flex;
        flex-flow: column wrap;
    }
    
    div.column1{
        width: 50%;
    }
    
    div.column2{
        width: 50%;
    }

    .footer{   
        display: flex;
        flex-flow: column wrap;
        text-align: center;
    }
}

