body{
    background: #02010a;
    font-family: Dancing Script;
    color: white;
}

.contenido{
    width: 900px;
}

/* @media (max-width: 900px){

} */

/* Estilos para el header (título y menú) */

.header{
    background: #5b7989;
    border-radius: 10px;
    height: 100px;
    margin: 50px;
    
}

.titulo{
    color: white;
    text-shadow: 2px #02010a;
    vertical-align: middle;
    float: left;
}

.menu a{
    color: red;
    float: right;
    text-decoration: none;
}